body {
  margin: 0px;
  padding: 0px; }

h1, h2 {
  font-family: "Poppins", sans-serif; }

#word {
  color: #40ED47; }

.tarjetas {
  margin-top: 40px; }

.iconoCard {
  width: 25px;
  margin-left: 20px; }
